[data-bs-theme=dark] {
  --bs-primary: #315b4f;
  --bs-primary-rgb: 49,91,79;
  --bs-primary-text-emphasis: #839D95;
  --bs-primary-bg-subtle: #0A1210;
  --bs-primary-border-subtle: #1D372F;
  --bs-secondary: #74484a;
  --bs-secondary-rgb: 116,72,74;
  --bs-secondary-text-emphasis: #AC9192;
  --bs-secondary-bg-subtle: #170E0F;
  --bs-secondary-border-subtle: #462B2C;
  --bs-success: #358263;
  --bs-success-rgb: 53,130,99;
  --bs-success-text-emphasis: #86B4A1;
  --bs-success-bg-subtle: #0B1A14;
  --bs-success-border-subtle: #204E3B;
  --bs-info: #3b6e78;
  --bs-info-rgb: 59,110,120;
  --bs-info-text-emphasis: #89A8AE;
  --bs-info-bg-subtle: #0C1618;
  --bs-info-border-subtle: #234248;
  --bs-warning: #665126;
  --bs-warning-rgb: 102,81,38;
  --bs-warning-text-emphasis: #A3977D;
  --bs-warning-bg-subtle: #141008;
  --bs-warning-border-subtle: #3D3117;
  --bs-danger: #7e3d2a;
  --bs-danger-rgb: 126,61,42;
  --bs-danger-text-emphasis: #B28B7F;
  --bs-danger-bg-subtle: #190C08;
  --bs-danger-border-subtle: #4C2519;
}

[data-bs-theme=dark] .btn-primary, .btn-primary[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #315b4f;
  --bs-btn-border-color: #315b4f;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2A4D43;
  --bs-btn-hover-border-color: #27493F;
  --bs-btn-focus-shadow-rgb: 224,230,229;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #27493F;
  --bs-btn-active-border-color: #25443B;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #315b4f;
  --bs-btn-disabled-border-color: #315b4f;
}

[data-bs-theme=dark] .btn-outline-primary, .btn-outline-primary[data-bs-theme=dark] {
  --bs-btn-color: #315b4f;
  --bs-btn-border-color: #315b4f;
  --bs-btn-focus-shadow-rgb: 49,91,79;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #315b4f;
  --bs-btn-hover-border-color: #315b4f;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #315b4f;
  --bs-btn-active-border-color: #315b4f;
  --bs-btn-disabled-color: #315b4f;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #315b4f;
}

[data-bs-theme=dark] .btn-secondary, .btn-secondary[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #74484a;
  --bs-btn-border-color: #74484a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #633D3F;
  --bs-btn-hover-border-color: #5D3A3B;
  --bs-btn-focus-shadow-rgb: 234,228,228;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #5D3A3B;
  --bs-btn-active-border-color: #573638;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #74484a;
  --bs-btn-disabled-border-color: #74484a;
}

[data-bs-theme=dark] .btn-outline-secondary, .btn-outline-secondary[data-bs-theme=dark] {
  --bs-btn-color: #74484a;
  --bs-btn-border-color: #74484a;
  --bs-btn-focus-shadow-rgb: 116,72,74;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #74484a;
  --bs-btn-hover-border-color: #74484a;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #74484a;
  --bs-btn-active-border-color: #74484a;
  --bs-btn-disabled-color: #74484a;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #74484a;
}

[data-bs-theme=dark] .btn-success, .btn-success[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #358263;
  --bs-btn-border-color: #358263;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2D6F54;
  --bs-btn-hover-border-color: #2A684F;
  --bs-btn-focus-shadow-rgb: 225,236,232;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2A684F;
  --bs-btn-active-border-color: #28624A;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #358263;
  --bs-btn-disabled-border-color: #358263;
}

[data-bs-theme=dark] .btn-outline-success, .btn-outline-success[data-bs-theme=dark] {
  --bs-btn-color: #358263;
  --bs-btn-border-color: #358263;
  --bs-btn-focus-shadow-rgb: 53,130,99;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #358263;
  --bs-btn-hover-border-color: #358263;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #358263;
  --bs-btn-active-border-color: #358263;
  --bs-btn-disabled-color: #358263;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #358263;
}

[data-bs-theme=dark] .btn-info, .btn-info[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #3b6e78;
  --bs-btn-border-color: #3b6e78;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #325E66;
  --bs-btn-hover-border-color: #2F5860;
  --bs-btn-focus-shadow-rgb: 226,233,235;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2F5860;
  --bs-btn-active-border-color: #2C535A;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #3b6e78;
  --bs-btn-disabled-border-color: #3b6e78;
}

[data-bs-theme=dark] .btn-outline-info, .btn-outline-info[data-bs-theme=dark] {
  --bs-btn-color: #3b6e78;
  --bs-btn-border-color: #3b6e78;
  --bs-btn-focus-shadow-rgb: 59,110,120;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3b6e78;
  --bs-btn-hover-border-color: #3b6e78;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3b6e78;
  --bs-btn-active-border-color: #3b6e78;
  --bs-btn-disabled-color: #3b6e78;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #3b6e78;
}

[data-bs-theme=dark] .btn-warning, .btn-warning[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #665126;
  --bs-btn-border-color: #665126;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #574520;
  --bs-btn-hover-border-color: #52411E;
  --bs-btn-focus-shadow-rgb: 232,229,222;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #52411E;
  --bs-btn-active-border-color: #4D3D1D;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #665126;
  --bs-btn-disabled-border-color: #665126;
}

[data-bs-theme=dark] .btn-outline-warning, .btn-outline-warning[data-bs-theme=dark] {
  --bs-btn-color: #665126;
  --bs-btn-border-color: #665126;
  --bs-btn-focus-shadow-rgb: 102,81,38;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #665126;
  --bs-btn-hover-border-color: #665126;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #665126;
  --bs-btn-active-border-color: #665126;
  --bs-btn-disabled-color: #665126;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #665126;
}

[data-bs-theme=dark] .btn-danger, .btn-danger[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #7e3d2a;
  --bs-btn-border-color: #7e3d2a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6B3424;
  --bs-btn-hover-border-color: #653122;
  --bs-btn-focus-shadow-rgb: 236,226,223;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #653122;
  --bs-btn-active-border-color: #5F2E20;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #7e3d2a;
  --bs-btn-disabled-border-color: #7e3d2a;
}

[data-bs-theme=dark] .btn-outline-danger, .btn-outline-danger[data-bs-theme=dark] {
  --bs-btn-color: #7e3d2a;
  --bs-btn-border-color: #7e3d2a;
  --bs-btn-focus-shadow-rgb: 126,61,42;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #7e3d2a;
  --bs-btn-hover-border-color: #7e3d2a;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #7e3d2a;
  --bs-btn-active-border-color: #7e3d2a;
  --bs-btn-disabled-color: #7e3d2a;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #7e3d2a;
}

